body {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Fraunces', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color:  hsl(30, 38%, 92%);
}

/* verde do botao
     background-color: hsl(158, 36%, 37%);
*/

.container {
    width: 43%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    align-items: center;
}
.container_img img {
    width: 300px;
    border-radius:10px ;
}   
.img_mobile {
    display: none;
}
.conteudo {
    width: 70%;
    margin-left: 40px;
}
.container .p {
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    font-weight: 700;
}

.conteudo h1 {
    font-size: 29px;
}
.conteudo .paragrafo {
    font-size: 14px;
    line-height: 23px;
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
.preco {
    margin-top: 25px;
}
.preco span:nth-child(1) {
    color: hsl(158, 36%, 37%);
    font-size: 20px;
    font-weight: 700;
}

.preco span:nth-child(2) {
    margin-left: 30px;
    font-size: 13px;
    color: hsl(228, 12%, 48%);
    font-weight: 700;
}

.btn {
    margin-top: 50px;
    text-align: center;
}
.btn i {
    margin-right: 10px;
}

.btn button {
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border: none;
    width: 90%;
    background-color:  hsl(158, 36%, 37%);
    border-radius: 7px;
}
.btn button:hover {
    background-color:  hsl(158, 46%, 18%);
    transition: 0.5s ease-in-out;
}

@media (max-width : 400px) {
    .img_desk {
        display: none;
    }
    .img_mobile {
        display: block;
    }
    .container {
        flex-direction: column;
        width: 80%;
    }
    .conteudo {
        width: 84%;
        margin-left: 30px;
    }
    .conteudo h1{
        font-size: 26px;
    }
    .conteudo .paragrafo {
        line-height: 18px;
        font-size: 13px;
    }
    .btn {
        margin-bottom: 10px;
    }

}